.counter-section {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;

  .value-wrapper {
    display: inline-block;
  }

  /* VALUE BUTTON */
  .value {
    font-weight: bold;
    border: 1px solid rgb(188, 188, 188);
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    // box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.08);
    // border: none;

    .MuiTouchRipple-root {
      display: none;
    }

    &:focus {
      outline: none !important;
    }

    &::-moz-focus-inner {
      border: 0;
    }


  }

  .blue {
    color: rgb(71, 71, 244);
  }

  .red {
    color: rgb(227, 58, 58);
  }

  .green {
    color: rgb(0, 176, 0);
  }

  /* DECREMENT BUTTON */
  .decrement {
    position: absolute;
    top: 60px;
    right: -30px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    min-width: 0 !important;
    padding: 0 !important;
    .MuiTouchRipple-root {
      display: none;
    }
    &:hover {
      background-color: rgb(255, 248, 248);
    }

    img {
      max-height: 60%;
      max-width: 60%;
      margin: auto;
      display: block;
      cursor: pointer;
    }

    &:focus-visible {
      outline: none !important;
    }
  }
}