.counter-section {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;

  .value-wrapper {
    display: inline-block;
  }

  /* VALUE BUTTON */
  .value {
    font-weight: bold;
    border: 1px solid rgb(188, 188, 188);
    height: 60px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
 
    

    .MuiTouchRipple-root {
      display: none;
    }

    &:focus {
      outline: none !important;
    }

    &::-moz-focus-inner {
      border: 0;
    }

  }


  .blue {
    color: rgb(96, 170, 255);;
  }

  .red {
    color: rgb(255, 104, 104);
  }

  .green {
    color: rgb(31, 193, 31);
  }

  /* DECREMENT BUTTON */
  .decrement {
    position: absolute;
    top: 40px;
    right: -28px;
    z-index: 1;
    color: rgb(111, 111, 111);
    width: 40px;
    height: 40px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 20px;
    min-width: 0 !important;
    padding: 0 !important;
    .MuiTouchRipple-root {
      display: none;
    }
    &:hover {
      background-color: rgb(255, 248, 248);
    }

    img {
      max-height: 60%;
      max-width: 60%;
      margin: auto;
      display: block;
      cursor: pointer;
    }

    &:focus-visible {
      outline: none !important;
    }
  }
}