.delete-actions {
  width: 80px;
  height: 50px;
  padding: 0 6px;
  margin-right: 20px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;

  opacity: 0;
  pointer-events: none;
  transform: translateX(-10px);
  transition: opacity 0.25s ease, transform 0.25s ease;

  .icon { 
    cursor: pointer; 
    font-size: 22px;
  }
}

.name-group:hover .delete-actions,
.delete-actions:hover {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
