.main {
    margin-left: 100px;
    margin-right: 100px;
    width: calc(100% - 550px);

    .title-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        color: rgb(61, 61, 61);

        .title {
            font-size: 38px;
            color: rgb(142, 142, 142);

        }

        .date {
            font-size: 18px;
            padding: 12px 15px;
            border-radius: 5px;
            width: fit-content;
            background: rgb(242, 242, 242);
        }
    }

    hr {
        margin-top: 50px;
        // margin-right: 200px;
        // color: red;
        border-top: rgb(255, 228, 228) solid .5px;
    }
}