.side-menu {
    padding: 50px 50px 70px 50px;
    height: 100vh;
    width: 350px;
    background: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;

    img {
        border-radius: 5px;
        opacity: 80%;
        box-shadow: 2px 2px 11px 3px rgba(0,0,0,0.60);
    }
 
}