form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;
    
    .add-counter-button {
        color: rgb(138, 138, 138);
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px rgb(183, 183, 183) solid;
        border-radius: 5px;
        padding: 10px 35px;
        background: white;
        font-size: 15px;
        text-align: center;
        .add-icon {
            text-transform: "none";
            height: 40px;
            width: 40px;
            margin-bottom: 5px;
        }
    }
}